{% extends 'dashboard.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data" action="{% url 'my_django:upload'  %}">
 {% csrf_token %}
    Key-file: <input type="file" name="uploadfile" /></br>
    pass:    <input type="password" name="phrase" />
    </br>
	<input type="submit" value="go" />
</form>
<label style="color: #ff9232">{{ result }}</label><br>
    
<hr>
<div class="row">
        <div class="col-xs-12">

          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Keyfile</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Sean.li</td>
                  <td>xxxx.ww.a.t1.tar</td>
                  <td>2016.10.11</td>
                </tr>
                <tr>
                  <td>doudou</td>
                  <td>xxxx.ww.a.t2.tar</td>
                  <td>2016.11.15</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->    

{% endblock content %}
