{% extends 'dashboard.html' %}

{% block content %}
    
<form role="form">
								<div class="form-group">
									<div class="row">
										<div class="col-md-4">
											<input tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-3" class="filestyle" data-buttonname="btn-primary" type="file"><div class="bootstrap-filestyle input-group"><input class="form-control " placeholder="" disabled="" type="text"> <span tabindex="0" class="group-span-filestyle input-group-btn"><label for="filestyle-3" class="btn btn-primary "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText">Choose file</span></label></span></div>
										</div>
									</div>
								</div>
							</form>
{% endblock content %}