<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dj</title>
</head>
<body>
                <ul>
                    <li>first page</li>
                    <li>second page</li>
                    <li>third page</li>
                    <li>forth page</li>
                    <li>fifth page</li>
                </ul>
<hr>
                {% block content-block %}
                    here's mother board body page!
                {% endblock %}
<hr>
Copy right:Sean.li
</body>
</html>